@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// Styles for rendered markdown in the .main-content container
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type

.page-content {
  line-height: $content-line-height;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  ul,
  ol {
    padding-left: 1.5em;
  }

  ol[type="a"] > li {
    &::before {
      content: counter(step-counter, lower-alpha);
    }
  }

  ol {
    list-style-type: none;
    counter-reset: step-counter;
    margin-bottom: 2rem;

    > li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2em;
        left: -1.6em;
        color: $grey-dk-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        @include fs-3;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul ul {
    margin-bottom: 0;
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $grey-dk-000;
        content: "•";
      }
    }

    margin-bottom: 2em;
  }

  .task-list {
    padding-left: 0;
  }

  .task-list-item {
    display: flex;
    align-items: center;

    &::before {
      content: "";
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    .anchor-heading {
      display: none;
    }
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  dt,
  dd {
    margin: 0.25em 0;
  }

  dt {
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    margin-left: 1em;
    font-weight: 500;
  }

  .anchor-heading {
    position: absolute;
    right: -$sp-4;
    width: 2.5rem;
    height: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    overflow: visible;

    @include mq(md) {
      right: auto;
      left: -2.6rem;
    }

    svg {
      transition: all 0.15s ease;
      opacity: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      fill: $link-color;
    }
  }

  .anchor-heading:hover,
  h1:hover > .anchor-heading,
  h2:hover > .anchor-heading,
  h3:hover > .anchor-heading,
  h4:hover > .anchor-heading,
  h5:hover > .anchor-heading,
  h6:hover > .anchor-heading {
    svg {
      opacity: 1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
  }

  h2 {
    border-left: 6px $link-color solid;
    padding-left: 24px;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f3136;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.2s ease;
  background: #5a5f69;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d7380;
}