//
// Main nav, breadcrumb, etc...
//
.navigation-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.navigation-list-child-list {
  padding-left: $sp-3;
  list-style: none;

  .navigation-list-link {
    color: $nav-child-link-color;
  }

  .navigation-list-item {
    position: relative;

    &::before {
      position: absolute;
      margin-top: 0.3em;
      margin-left: -0.8em;
      color: rgba($body-text-color, 0.3);
      content: "- ";
    }

    &.active {
      &::before {
        color: $body-text-color;
      }
    }
  }
}

.navigation-list-item {
  @include fs-4;
  margin: 0;

  @include mq(md) {
    @include fs-3;
  }

  .navigation-list-child-list {
    display: none;
  }

  &.active {
    .navigation-list-child-list {
      display: block;
    }
  }
}

.navigation-list-link {
  display: block;
  padding-top: $sp-1;
  padding-bottom: $sp-1;

  &.active {
    font-weight: 600;
    color: $body-heading-color;
    text-decoration: none;
  }
}

// Small screen nav

.main-nav {
  display: none;

  &.nav-open {
    display: block;
  }
  @include mq(md) {
    display: block;
  }

  padding-bottom: 1.5rem;
}

.aux-nav {
  align-self: center;
}

// Breadcrumb nav
.breadcrumb-nav {
  @include mq(md) {
    //margin-top: -$sp-4;
  }
}

.breadcrumb-nav-list {
  padding-left: 0;
  margin-bottom: $sp-3;
  list-style: none;
}

.breadcrumb-nav-list-item {
  display: table-cell;
  @include fs-2;

  &::before {
    display: none;
  }

  &::after {
    display: inline-block;
    margin-right: $sp-2;
    margin-left: $sp-2;
    color: $grey-dk-000;
    content: "/";
  }

  &:last-child {
    &::after {
      content: "";
    }
  }

  a {
    text-decoration: none;
    background: none;
  }

  a:hover {
    background: none;
  }
}

.nav-wip {
  @include fs-1;
  opacity: 0.5;
  display: inline;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 4px;
  margin-left: 8px;
  border-radius: 2px;
  vertical-align: center;
  color: $body-text-color;
}