//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

h1,
.text-alpha {
  @include fs-8;
  font-weight: 300;
  font-family: Montserrat,sans-serif;
}

h2,
.text-beta {
  @include fs-6;
  font-family: Montserrat,sans-serif;
}

h3,
.text-gamma {
  @include fs-5;
  font-family: Montserrat,sans-serif;
}

h4,
.text-delta {
  @include fs-2;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family: Montserrat,sans-serif;
}

h5,
.text-epsilon {
  @include fs-3;
  color: $grey-dk-200;
  font-family: Montserrat,sans-serif;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
  font-family: Montserrat,sans-serif;
}

li {
  .highlight {
    margin-top: $sp-2;
  }
}

.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-center {
  text-align: center !important;
}
